[2016-01-14 15:42] staabm opened #1 "missing examples"
do you have somewhere examples on how to use the api to e.g. retrieve orders?

atm I only have a REST based documentation which I can use to build my own client but at least some information on how to use this sdk would be very helpfull.

did I miss it somewhere?

[2016-01-14 15:49] staabm opened #2 "generate_sample_data orders"
the old api had a GET parameter which was used to generate sample data, namely `generate_sample_data`.

does the new api also has the ability?

alternatively, do you have a sandbox on which we can test our code against?

[2016-01-15 14:00] digitalcrab commented on #1
Right now we don't have a detailed documentation. And we are working on it. But the source is documented a little bit and you can easely find the way hot the get orders.

For example:

[code]

[2016-01-15 15:33] aazon commented on #2
Right now API does not have neither sample data nor sandbox mode.

Sorry for that, I hope one day we'll introduce some tools for developers.

As for today all `GET` requests are "safe" and will never change the real data, thus one can test code against them without any fear.

[2016-01-26 09:36] trailsnail opened #3 "... must be of the type array, null given"
Here is a stacktrace from an order I received, which contains "NULL" in property "claim".
Is it a problem with the order, or in class "AbstractTransfer.php"? How will it be fixed?
Thanks :)
[code]
My Code:
[code]

[2016-01-26 11:50] trailsnail commented on #1
This works, nice.
But now we have another question: we received the buyers pseudonym, firstname and last-name via the old api. In the new version we have only the "id_buyer" and  email. How can we the needed information?

[2016-01-26 16:04] digitalcrab commented on #1
Hello
Please take a look on [Retrieving Orders](https://www.hitmeister.de/api/v1/?page=orders#retrieving-orders) section. You can get the orders with the `shipping_address ` and `billing_address` embedded fileds. There you can find the `first_name`, `last_name` and `company_name`.

For example: `echo $orderUnit->shipping_address->first_name;` - same as an example above.

[2016-01-26 16:05] digitalcrab commented on #1
Regarding payment state. All the orders are paid. So, you don't have to worry about the state of it.

[2016-01-26 16:08] trailsnail commented on #3
This works great. Thanks ;)

[2016-01-26 16:08] #3 closed

[2016-01-26 16:10] trailsnail commented on #1
Ok - thanks. We thought the buyer could be another person, than the billing- or delivery-person. But in this case I use the billing-fields

[2016-05-11 20:14] christopherglander opened #8 "Is a product_feed downloaded multiple times?"
Hi,

when I post an uri of my product csv to Hitmeister, do they keep an eye on my remote file or do they only look one time and then never again at my file? Do they trace my CRUD operations described in my remote file?

Regards

[2016-05-12 08:22] mansurs commented on #8
Hi,
we download the file only one time into our system and read it then. There can't be any CRUD operations in you file. We just replace the data which you send to us in our system. Have a look at https://www.hitmeister.de/api/v1/?page=product-data#uploading-and-updating-items and https://www.hitmeister.de/api/v1/?page=product-data-files
Regards

[2016-05-12 17:07] christopherglander commented on #8
Hi,

well, the REST endpoint documentation is and was a bit confusing. Have a look at the description of the "POST /import-files/" endpoint. The description tells me that a file is downloaded several times a day.

Quote:

I am a bit confused, so could you please explain it to me furthermore?

Regards

[2016-05-17 09:32] mansurs commented on #8
Sorry, but the documentation is wrong. We will fix it as soon as possible.
The file is downloaded only once.

Regards and thank you for the finding!

[2016-05-25 03:19] G-June opened #9 "Get total reports/orders?"
Is there a way to get the total amount of reports or orders or units, etc.? Would be handy for pagination purposes in case there are more items than `limit`.

[2016-05-25 06:21] digitalcrab commented on #9
Hello,

You have this information already.

For example, you want to query `GET /order-units/seller/`, you use `limit` and `offset` and in response you will find the following headers:
[code]
You may be interested in `Hm-Collection-Range`. Here is all the information that you are looking for. At the given example `31-60/613942`: `31` - first elemt in the list, `60` - last element, and `613942` - t

[2016-06-03 13:00] TobiasWohlers opened #10 "wrong delivery_time_expires value"
fix the calculation of the delivery time expires and add field "order_sent_expires" with right calculation of time when the order has to be send.

[2016-06-03 13:21] #10 closed

[2016-07-23 14:04] neonics opened #15 "order_units/seller response strips leading 0 from postcode"
Hello,

My apologies: this issue concerns the server-side Hitmeister API, not this library, but I could not find anywhere else to report it. Please let me know if I should report this elsewhere.

When a customer has a postcode with a leading zero, such as `09117`  the `order_units/seller` API call response returns `9117`. Here's a partial `print_r` of the response:

[code]

I double checked that t

[2016-07-24 11:12] aazon commented on #15
Hello Kenney,

Thanks for your report. I'll take a look asap and let you know immediately.

Alex.

[2016-07-24 12:09] aazon commented on #15
Kenney,

I found a bug in our API and have committed a bugfix.
It will go live during next deploy - on Monday, July 25th. I'll add a message here after we deploy.
Thanks again for you report.

Alex.

[2016-07-24 12:32] neonics commented on #15
Alex,

You're welcome, and thank you for picking it up so quickly!

Kenney.

[2016-07-25 13:35] aazon commented on #15
Hello Kenney,

This bugfix is live. From now on postcode field is string and thus may start with zero.

Alex.

[2016-07-25 13:35] #15 closed

[2016-07-25 13:43] neonics commented on #15
Hi Alex,

Verified! Thanks a lot!

[2016-08-30 13:08] elipoultorak opened #16 "Create or edit Shipping groups"
Is there any way to create or edit Shipping groups? As far as I can see, you can only `get` them

[2016-08-30 13:38] mansurs commented on #16
You can create and edit shipping groups only in your hitmeister seller account area. Creating/editing it through the api is a bit too complicated.

[2016-08-30 18:40] #16 closed

[2016-08-30 18:40] #8 closed

[2016-08-30 18:42] #1 closed

[2016-08-30 18:42] #2 closed

[2017-02-16 11:07] elipoultorak opened #17 "When will the API move to real.de"
When orders are made on real.de, can we see them in the hitmeister API?
Will the API's URLs change at some point?
Thanks

[2017-10-05 08:48] Hanisch-IT commented on #17
real should already work with this api

[2017-10-05 15:58] michael-herwig opened #25 "/orders/{id_order}/ Endpoint: faulty behaviour on real.de"
According to your [documentation](https://www.real.de/api/v1/?page=orders):

Im using your API on Real.DE but using the endpoint /orders/{id_order} just returns a single json object containing the fields id_order and ts_created. Didn't I understood something right? I thought the query should send me the appropriate order units related to the queried id_order.

I looked up your provided php SDK but

[2017-10-05 20:10] aazon commented on #25
Hello, Michael.

The short answer is: add GET parameter `?embedded=seller_units` to get a list of order units attached to the body.

More verbose answer:
Unless stated otherwise `/orders/{id_order}/ ` returns an order in a "minimal" size, i.e. only `id_order` and `ts_created` fields are included. However, there is a way to request some extra information -- by means of `GET` parameter called `embed

[2017-10-05 20:19] aazon commented on #17
Hello,

Absolutely! Hitmeister API and Real API are the same application. After the move to www.real.de there are still a lot of sellers who use www.hitmeister.de as a hostname for their API requests even though they can use www.real.de.

The following URLs will return the same information:
`www.hitmeister.de/api/v1/orders/123/` == `www.real.de/api/v1/orders/123/`

Since we don't want to break the

[2017-10-06 05:24] michael-herwig commented on #25
Hello, Alex.

This states everything very clearly.

However I think the endpoint definition file `api-sdk-php/src/Endpoints/Orders/Get.php` misses the parameter definition? (I am not very familiar with php) Additionally knowing all accepted values for given parameters would help a lot for understanding your interface in more detail. Maybe you could consider updating your documentation accordingly.

[2017-10-06 05:24] #25 closed

[2017-10-06 09:34] aazon commented on #25
Michael,

There is a [page with all endpoints](https://www.real.de/api/v1/endpoints.html) where one can play with our API. Be careful, this is not a sandbox and in case of change, the production data will be affected.

Thanks a lot for your feedback, we'll improve our SDK as well.

Best Regards,
Alex

[2017-10-14 18:25] elipoultorak commented on #17
Thanks

[2017-10-14 18:25] #17 closed

[2017-10-24 12:49] mkurtas opened #30 "Get last request from ClientBuilder"
Is it possible get request array/object from last query?

[2017-10-27 12:40] aazon commented on #30
Hi Mateusz,

One possible solution would to use a [PSR-3 compatible](https://github.com/php-fig/fig-standards/blob/master/accepted/PSR-3-logger-interface.md) logger, e.g. [Monolog](https://github.com/Seldaek/monolog).

Here is a snippet that allows to watch request and response in the terminal:

[code]

Corresponding output may look like the following:

[code]

Hope this can help you.

Best Regard

[2017-12-03 08:27] michael-herwig opened #35 "Endpoint Documnetation OrderUnit.Status Incomplete"
Hi there,

according to you endpoint documentation the order unit status is one of the following values `['need_to_be_sent' or 'sent' or 'received' or 'cancelled' or 'sent_and_autopaid' or 'returned']`. However the API also returns `'returned_paid'`.

Regards
Michael

[2017-12-04 08:54] aazon commented on #35
Hello Michael,

Thanks for your report. This is definitely a lag in the documentation. We will fix it ASAP in the next API release.

Best Regards,
Alex

[2017-12-08 14:36] aazon commented on #35
Hello Michael,

We updated documentation on the API webpage.

Thanks for your report and please feel free to contact us in case of any issues.

Best Regards,
Alex

[2017-12-08 14:36] #35 closed

[2018-04-24 13:30] #30 closed

[2018-11-14 13:35] mvenghaus opened #49 "Suddenly: Response header "Hm-Collection-Range" is missing."
Hello,

without modifying a file the following error appeared: Response header "Hm-Collection-Range" is missing.

After a little debugging we found that the header is now in lowercase:
"Hm-Collection-Range" -> "hm-collection-range"

I don't know why but it would be nice if you could change your code that the case doesn't matter.

Regards
Marcus

[2018-11-14 13:44] aazon commented on #49
Hi Marcus,

Thanks for this issue. What endpoint(s) did you use? This will help us to reproduce the error.

Thanks,
Alex

[2018-11-20 14:41] EtienneBruines commented on #49
Hi Alex,

Having the same issue here (not in every environment, but at some). It occurs at the `Find` endpoint for `Order`.

Thanks,
Etienne

[2018-11-20 14:51] EtienneBruines commented on #49
Looking at the detailed response array (as used in the `extractCursorPosition` method:

[code]

I think Real.de now uses HTTP/2, which effectively lowercases the HTTP-Headers (and therefore failing the check for `Hm-Collection-Range`, since only `hm-collection-range` exists).

[2018-11-20 15:07] EtienneBruines commented on #49
This should also cause issues for the `extractId` method (used e.g. in `Unit post()`), which depends on the `Location` HTTP header.

Possible solution would be to lowercase all headers when reading them, and then only using the lowercase variants within the code. This should not result in too much performance issues.

[2018-11-21 10:43] aazon commented on #49
Hello Etienne,

Thanks a lot for such a detailed report.
Bugfix is on its way!

Alex.

[2018-11-26 10:08] EtienneBruines commented on #49
Hello Alex,

Thank you for the fix. It seems to have done the trick.

Since runtime-performance is kinda important for us, we'd rather use HTTP/2 when possible. I'll be opening a PR as soon as I've tested it. Should be before lunch :smile:.

Thanks for the effort,
Etienne

[2018-11-26 10:35] aazon commented on #49
Hi Etienne,

I may be wrong, but I believe that HTTP/2 brings advantages mostly to the website users, i.e. when there are tones of different resources to be loaded to render an HTML page. In the case of stateless API, there is a request with one response so I don't see where API can benefit from HTTP/2.
Do you know any example why HTTP/2 will be better than HTTP/1 for API?

Alex.

[2018-11-26 11:03] EtienneBruines commented on #49
Hi Alex,

HTTP/2 provides HPACK-Compression of headers. In human terms: instead of transmitting the text-representation of each header, internally, only a few bytes are sent. The more common the header (like Content-Type), the less bytes it uses.

Thanks,
Etienne

[2019-08-16 06:39] TilgalisToms opened #58 "Method /product-data/{ean} returns no result"
When trying to check product data with following code:

[code]

I get null as result. When executing same method via sandbox or standalone cURL request correct result is returned.

[2019-08-16 17:26] johnholiver commented on #58
Thanks for your report, we'll investigate.

[2019-08-19 05:26] TilgalisToms commented on #58
Hello,
Client key: 311e6889608d90b9d54270a5ae11fa76
EAN: 0810354022210

[2019-08-23 16:09] FFluche commented on #58
Hello,
we investigated in that issue and could reproduce it.
The only possibility to get a NULL result from our SDK when your EAN is not connected to any of your products. Perhaps you have a typo in your EAN.

[2020-04-09 16:34] DominicWatts opened #77 "ClientBuilder.php Unsafe usage of new static"
I implemented this sdk in my project and ran some static tests. Picked up on this and I'm inclined to agree. Just a recommendation though.

 ------ -------------------------------------------------------
  Line   ClientBuilder.php
 ------ -------------------------------------------------------
  47     Unsafe usage of new static().
         💡 Consider making the class or the constructor final.
 --

[2020-04-09 16:36] DominicWatts opened #78 "Coding standards"
Have you considered writing code to a FIG coding standard

Either PSR-2 or perhaps PSR-12?

[2020-04-09 16:39] DominicWatts opened #79 "Find unit by id_offer only"
I needed to find unit by id_offer only (no EAN) - so needed to add functionality to sdk

Happy to submit a PR

Just want to know whether you are interested in this sort of functionality

[2020-04-09 16:47] DominicWatts opened #80 "PHP compatiblity"
Part of your code is not compatible with 5.6 or lower

I recommend adjusting composer.json

I can submit a PR if required

[code]

[2020-04-10 20:33] mansurs commented on #79
You are welcome :)

[2020-04-16 19:17] DominicWatts opened #82 "Shipping without tracking"
On frontend you can ship order items without tracking. Via API this appears to be impossible.

The work around I found was to provide courier and a space character as tracking code. The API returns true so this appears acceptable.

Providing null value as tracking omits parameter from request body and therefore fails validation.

[2020-04-16 19:39] aazon commented on #82
Hello Dominic,

Thanks for your request.

The following combination will be valid in case there is no tracking information:

[code]

Alex.

[2020-04-16 19:39] #82 closed, assigned to nobody

[2020-04-16 23:01] DominicWatts commented on #82
Yes and how do you send that using the SDK?

Only thing worked for me was

[code]

Other combinations failed validation.

If you send a null or false value as a param you don't get the above structure. Or at least it didnt do for me.

https://github.com/hitmeister/api-sdk-php/blob/13821631bdc50adfc2c4f298d025cf5fc1294fb2/src/Namespaces/OrderUnitsNamespace.php#L129-L134

Is it not because of this?

[2020-04-17 15:16] mansurs commented on #82
Yes, I think you can also remove the space and just put an empty string:
`...->send(1234567890, 'Other', '')`

[2020-04-17 15:37] DominicWatts commented on #82
Perhaps I'm not making myself clear

When you do that - so empty string you get an error

[code]

[2020-04-17 16:22] mansurs commented on #82
I see, thanks. There seems to be a misconception on our side. Basically we wanted to make carrier/tracking number optional, because we have a new Endpoint "shipments", where you can add tracking numbers after sending an order-unit. Seems like it was not completely fulfilled. We need to fix that.

As a workaround you may use your suggestion with "Other" and " ".

[2020-04-30 11:36] NastiaNovik commented on #80
Thank you for reporting, I'll take care:)

[2020-05-07 21:44] loertel opened #85 "Passing "additional_attributes" to productData()->update produces api error"
Creating a new Product with productData()->update or upsert Method produces an api error response from real endpoint: "Field body.additional_attributes should be an object"

[2020-08-03 11:35] mylemans opened #89 "Question regarding giving/receiving date/times from the API and their timezones"
See for example:

https://github.com/hitmeister/api-sdk-php/blob/990c68766fe79aa56cdb304d4ec9bf6d21d9dbee/tests/Namespaces/ReturnUnitsNamespaceTest.php#L33

As far I see, this means that because it uses date('Y-m-d H:i:s', ...) it'll use the configured local timezone that may or may not be UTC.

I think that the unit tests are ran with the time zone configured as UTC, but I cannot find documentati

[2020-08-06 15:23] #80 closed, assigned to NastiaNovik

[2020-08-09 10:27] NastiaNovik commented on #89
Thank you for your comment.
We save data in German Time Zone.

You are right, we might need to mention this in the documentation.

[2020-08-09 10:35] NastiaNovik commented on #85
That is correct, productData()->update expects a JSON object containing the product data. Could you please send an example of your request?

[2020-08-09 10:36] #79 closed, assigned to nobody

[2020-08-19 12:43] mylemans commented on #89
Shouldn't it be better to alter the tests so the 'time zone' while testing isn't UTC, but one matching German time?

[2020-09-01 05:26] NastiaNovik commented on #89
We will consider this, thanks.

[2020-09-03 08:10] mainIine commented on #85
I have the same problem but in the upsert().

Because all data of the product is passed together with the additional_attributes I can not reproduce the error.

[2020-09-07 05:56] NastiaNovik commented on #85
@dsiekiera do you have this problem every time? Could you please send the example of your request? (data can be fake)

[2020-09-07 07:02] mainIine commented on #85
Sure. Here is a part of it:

[code]

```$_json``` is completly filled.

Without the ```additional_attributes``` it works like charme. But with, i always a got the error above.

I hope this is enough?

[2020-09-22 11:21] mainIine commented on #85
Any findings? For example, the API cannot really be used effectively.

[2020-09-28 04:27] NastiaNovik commented on #85
Could you please try to change your structure of your request a bit and tell me if that works?
`"additional_attributes": [
    {
      "attribute":  "$a['name'] ,
      "value": [
          "$a['value']"
      ]
    }`
So that the $a['name']  will be a value of "attribute" and $a['value'] will go to value of "value". And each new additional attribute should follow that structure.

[2020-10-12 12:33] mainIine commented on #85
@NastiaNovik

I have changed the structure. It no longer throws a mistake, but nothing comes back.

The answer from
[code]
is only "1".

I don't see any new entry at https://www.real.de/seller/ either.

[2020-10-17 11:25] biohardware opened #90 "how upsert a new item with new ean code?"
hi, i try upload a new item with new ean, this ean not exist on real.de database!

my code:

`

 $namespace = new ProductDataNamespace($client->getTransport());
 $pd = $client->productData($client->getTransport());

$data = [
            "ean" => [$newEan],
            "category" => ['angelruten'],
            "title" => [$neve],
            "picture" => ["https://racvarosihorgaszbolt.hu/public/up

[2020-10-26 14:15] NastiaNovik commented on #85
@dsiekiera  could you please send me more info about your shop? Like the name of your shop. So I can see logs.
You can send it to my work email anastasiia.novik@real-digital.de

[2020-10-26 15:54] sleipi commented on #58
Same issues here. And also a PR https://github.com/hitmeister/api-sdk-php/pull/92 which solve the issue

[2020-10-26 16:04] NastiaNovik commented on #90
hi @biohardware, could you please send new EAN?

[2021-02-19 07:40] juansiwei-li opened #100 "ticket-messages error"
post success return {"message": "Internal server error"}

[2021-02-19 07:40] juansiwei-li commented on #100
post success but return {"message": "Internal server error"}

[2021-02-19 09:39] NastiaNovik commented on #100
Hey @juansiwei-li! Could you please give more info? Like example of your request and if you want me to check our logs of your requests you can also send me id or name of your shop to email anastasiia.novik@real-digital.de.

[2021-02-19 10:05] NastiaNovik commented on #100
@juansiwei-li I think the problem occurred  due to the temporary internal outage we had this morning. It should be fine again;)

[2021-02-20 01:08] juansiwei-li commented on #100
Hello we will try again

[2021-02-22 01:27] #100 closed, assigned to nobody

[2021-03-08 15:03] webgreat opened #102 "Kein Ergebnis $client->orderUnits()->find();"
orderUnits()->find(); gibt keine Daten zurück. Wärend categories()->find('xyz'); ein Ergebnis gibt.

Ohne SDK über "/order-units/seller/" bekomme ich Daten.

Hat Jemand gleiches Problem?

[2021-03-16 10:47] m074554n commented on #102
Hi @webgreat, you can loop over the `$client->orderUnits()->find()` and it will work fine, try something like:

[code]

[2021-03-30 10:32] xiaoyukarl opened #104 "GET /product-data/{ean}/ question"
hello
       When I use this  'GET /product-data/{ean}/' API， some eans return original_picture. original_url is a url, and some eans return a base64 string. Why is there such a difference? When the return is a base64 string, the response time is very long, I want to return only the url。
     thank

[code]

[code]

[2021-04-13 20:36] mansurs commented on #104
Sorry, maybe the answer is a bit late, because the ean 0794832212693 has no data-urls. Do you have an another example?

[2021-04-13 20:47] #102 closed, assigned to nobody

[2021-04-13 20:48] mansurs commented on #90
Seem like not an issue -> close

[2021-04-13 20:48] #90 closed, assigned to nobody

[2021-04-13 20:49] #89 closed, assigned to nobody

[2021-04-13 20:50] #85 closed, assigned to nobody

[2021-04-13 20:51] mansurs commented on #78
Sorry for the late answer. So far we did not take that into consideration.

[2021-04-13 20:51] #78 closed, assigned to nobody

[2021-04-13 20:52] #77 closed, assigned to nobody

[2021-04-13 20:52] #58 closed

[2021-04-13 20:56] #49 closed

[2021-04-14 02:51] xiaoyukarl commented on #104
Hi,  @mansurs ,  These original_picture.original_url of ean all return base64 strings, can you control not to return this part of information through parameter control, because this information is useless to us, but it causes the API to respond very slowly;

0794832214017, 0794832214000, 0794832213997, 0794832213980, 0794832213973

Thanks；

[2021-04-20 10:19] webgreat commented on #102
Hi @M074554N

**Without SDK its fine:**

[code]

[code]

With the` $client->orderUnits()->find();` SDK I only get the Hitmeister \ Component \ Api \ Cursor Object but no data

[2021-04-23 08:41] webgreat opened #105 "subscriptions()->find get only one item"
If there are several subscriptions of the same type, only the first is output.

[2021-04-23 09:42] NastiaNovik commented on #105
@webgreat I am checking it, and will come back to you asap

[2021-04-23 11:51] San7ro opened #106 "client->units->get() Get all untis"
I want to get all units, but there is no method to do this.
This is the only way to do: units()->get(id_item);
The documation allows it.
_You can get a list of all of your own units by sending a GET request to the /units/seller/ endpoint. Note: it can take several minutes for units to show up in this list after they are created._

[2021-04-23 12:28] NastiaNovik commented on #106
Hi @San7ro, have you tried `units()->find()` ? Because by `get(id)`, you will get only one unit back, but with `find()` you should get the whole list.

[2021-04-23 12:31] San7ro commented on #106
Yes of curse:
`$client->units()->find();`
gives me the error:
Fatal error: Uncaught Error: Call to undefined method Hitmeister\Component\Api\Namespaces\UnitsNamespace::find()

[2021-04-29 08:31] benjaminsattler commented on #106
hi @San7ro,
thanks for reaching out with this issue. We'll look into it!

[2021-04-29 15:11] NastiaNovik commented on #105
@webgreat  could you please send me an email to anastasiia.novik@real-digital.de with name of your shop (or shop id) that I can check your info

[2021-05-03 08:15] mansurs commented on #104
@xiaoyukarl we should have fixed the issue. We don't store base64 string and we don't expose the internal fields in the API anymore. Could you please check and confirm?

[2021-05-31 01:55] sirajea commented on #106
@San7ro
`find()` is a method of the `FindBuilder` class, so the following should work: `$client->units()->buildFind()->find();`

[2021-05-31 02:16] sirajea opened #108 "id_unit should be exposed by the order unit model"
The order unit model does not expose the unit ID. We do not use the offer ID property. The reference for a unit in our system is simply the unit ID. This means that we have to do an extra API call to the units endpoint to retrieve the unit ID, by searching for a unit with a certain item ID and unit condition. It would make more sense to expose the unit ID in the order unit model (like the conditio

[2021-06-24 06:54] HANK1998 opened #109 "signature error"
`<?php

      $method = "PATCH";
      $uri = "https://www.kaufland.de/api/v1/order-units/XXXXXXXXXXXX/send/";
      $body = null;
      $timestamp = time(); //time();
      $secretKey = "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX";

      $hmac = signRequest($method, $uri, $body, $timestamp, $secretKey);
      print("\n$hmac\n");

      function signRequest($method, $uri, $body, $timestamp, $secretKey)

[2021-06-27 14:35] Neonsonne opened #110 "POST /units/ and PATCH /units/{id_unit}/ are broken on the server"
I am not actually using the PHP SDK. I am simply trying the swagger ui on https://www.kaufland.de/api/v1/?page=endpoints. If I send a POST to /units/ with the following JSON

{
  "ean": "5050192667210",
  "condition": "new",
  "listing_price": 2399,
  "minimum_price": 2399
}

I get return code 400
{
  "message": " : minimum price cannot be bigger than listing price"
}

I can use any minimum_price

[2021-06-28 09:46] benjaminsattler commented on #110
Hi @Neonsonne,

thanks for your report!

Please try this again and use integers for the fields `listing_price` and `minimum_price` (no quotes around the prices). Let me know if this solves your problem.

best,
Benjamin

[2021-06-29 15:15] NastiaNovik commented on #109
@HANK1998 I think you are missing part of the request, you also need to provide a **$clientKey** to get some data back. In the documentation you mention it is done in the header:

Please take a look at [readme file](https://github.com/hitmeister/api-sdk-php#readme) to connect to the API in the simple way.

[2021-06-29 20:37] Neonsonne commented on #110
Hi,

thanks for your fast response.

I tried by using integers, by setting minimum_price to 1, using a different EAN and many other different combinations. Still no luck. The response is always "minimum price cannot be bigger than listing price" for all POST and PATCH requests. Any other suggestions?

[2021-06-30 02:38] HANK1998 commented on #109
Thank you. The problem lies in the method of generating signature. I think I have found the answer. The parameter body cannot be empty. I misunderstood the sample code in the document. Thank you for your help.

[2021-06-30 09:07] #109 closed, assigned to nobody

[2021-06-30 12:59] benjaminsattler commented on #110
Hi @Neonsonne,

I have just tried to reproduce your problem with the API test page that we have available here: https://www.kaufland.de/api/v1/?page=endpoints#!/units/addUnit

In the screenshot you can see that I was able to successfully create the offer with the body that you posted (I had to modify the prices in order to not interfere with actual offers for this product):
![Screenshot 2021-06-30

[2021-07-01 11:10] polluks opened #112 "FR: Reduce flooding of error messages"
[code]
https://github.com/hitmeister/api-sdk-php/blob/d6fb2afef89bea4817aa5968b73c9bb590cbc534/src/Transfers/Constants.php#L85

[2021-07-03 01:26] fengmiq opened #113 "I can't create new product,can you help me"
Since July 1, I have been using API to upload products and have been reporting errors. can you help me! I use "PUT /product-data/{ean}" add new product,return errr:
`{
  "item_ready": false,
  "update_status": "FAIL",
  "item_not_ready_reason": "PROCESSING_FAILED",
  "update_fail_reason": "UNKNOWN",
  "missing_attributes": ""
}`

upload data is:
`{"ean":["4451602990613"],"title":["Durchmesser 165m

[2021-07-04 17:52] Neonsonne commented on #110
Hi,

I retried using your API test page and created a har file export in Chrome.
[www.kaufland.de.har.zip](https://github.com/hitmeister/api-sdk-php/files/6760343/www.kaufland.de.har.zip)

I removed the hm-* headers from the file. Here is a screenshot that shows the request as well.

<img width="975" alt="Screenshot" src="https://user-images.githubusercontent.com/1775326/124394731-0136b380-dd01-11

[2021-07-05 07:06] fengmiq commented on #113
online shop display error:Falscher Länderpräfix(Wrong country prefix), can you help me!

[2021-07-05 08:48] benjaminsattler commented on #110
Hi @Neonsonne,

thanks for the data. There are 2 things that may affect the prices:

- Tiefstpreisautomatik
- any price adjustment that you may have defined in our account

Please check your account settings:
1. Login to sellerportal
2. Navigate to https://sellerportal.kaufland.de/imports/
3. In that page please look for "Price adjustments" or "Preisanpassungen" and change/remove those that affect

[2021-07-08 08:51] NastiaNovik commented on #113
Hello @fengmiq, it looks like  ean is wrong for this product. This error means that prefix of the ean (first few digits) are not valid. Please check the correctness of the ean. You can take a look here https://www.gs1.org/standards/id-keys/company-prefix
Best regards,
Anastasia

[2021-07-08 08:52] NastiaNovik commented on #112
Hi @polluks, could you please explain a bit more about your request?

[2021-07-09 11:09] polluks commented on #112
I suppose notification is not the job of your sdk. However, Kaufland.de is sending this message every (!) hour :-(
Do you have any cure?

[2021-07-16 08:34] NastiaNovik commented on #112
@polluks what kind of notification? Where do you get it? If it is not connected to SDK, maybe you want to contact me directly? My email is anastasiia.novik@real-digital.de

[2021-07-16 13:50] benjaminsattler commented on #110
closed due to inactivity. please reopen if you need further assistance.

[2021-07-16 13:50] #110 closed, assigned to nobody

[2021-07-27 08:48] #113 closed, assigned to nobody

[2021-07-27 08:52] fengmiq opened #115 "I use the sdk get warehouse data is null"
$client = ClientBuilder::create()->setClientKey($client_key)->setClientSecret($client_seccret)->build();
$result = $client->warehouses()->find();

return data is null

![warehouse_data](https://user-images.githubusercontent.com/43661323/127125586-252fa047-4e03-4ca5-ad7b-f725fb301e58.jpg)

can you help me?

[2021-07-28 09:23] konradhausmann commented on #115
Hello fengmiq, thanks for reaching out with this issue. I'll have a look into it!

[2021-07-28 11:00] konradhausmann commented on #115
Hello fengmiq,
find() is returning a cursor which is implementing the iterator. This cursor has not fetched any data from the backend, yet. The cursor will only fetch the data via lazy loading when its iterated.
You could use the function [iterator_to_array](https://www.php.net/manual/de/function.iterator-to-array.php) for example.

[2021-07-28 13:07] abdul-jabbar01 commented on #108
Hey @sirajea . Thank you for bringing it here.

unit ID refers to `unit` (inventory). And `order unit` is copy of inventory unit that refers to specific order.

The inventory unit might not exist any longer, or have been modified in any of its parameters (e.g. price, shipping), while the `order_unit` is a snapshot of when the inventory unit when the order was placed.

`unit_condition` and `deliver

[2021-07-28 14:03] Das-Ente opened #116 "Missing 'Accept' Header"
According to the documentation, the 'Accept' header must be set for all requests.

https://www.kaufland.de/api/v1/?page=rest-api

If this is not set, the PATCH "https://www.kaufland.de/api/v1/units/xxxxxxxxxxxx/" call will not result in an HTTP 404, but in an HTTP 405. Also the response is then not a JSON, but an XML.
[code]

[2021-07-28 14:08] vermeulena commented on #116
[hitmeister_api.patch.txt](https://github.com/hitmeister/api-sdk-php/files/6893728/hitmeister_api.patch.txt)

[2021-07-28 14:28] vermeulena commented on #116
file:///home/avermeulen/dev/php/scx/channel/kaufland.de/patches/Real_API_header.patch

[2021-07-28 14:29] Das-Ente commented on #116
[Real_API_header.patch.txt](https://github.com/hitmeister/api-sdk-php/files/6893857/Real_API_header.patch.txt)

[2021-08-04 11:12] polluks commented on #112
It was triggered at https://www.kaufland.de/seller/automatic-product-data-file-upload/.

[2021-08-04 11:12] #112 closed, assigned to nobody

[2021-08-04 13:10] mansurs commented on #108
@sirajea Additionally: If we would return a unit ID or embedded unit in the order unit request and the unit does not exist anymore, you will get a problem later.
If you could use the offer id field, you can match it easier with your own system.

[2021-08-17 06:33] Ivorius opened #118 "Response header "Hm-Collection-Range" is missing - in Order Units with api sandbox keys"
I try find order units over api sandbox keys from kaufland.de like this

 `$this->getClient()->orderUnits()->find('open', null, null, null, 'ts_created:desc', 30, 0);` but it throws ServerException  `Response header "Hm-Collection-Range" is missing`

After debugging on Hitmeister\Component\Api\Helper\Response::extractCursorPosition I see some json data in body and this headers
[code]

Is problem w

[2021-09-14 10:14] mylemans opened #120 "Claims deprecation?"
According to this, claims are no longer supported since 2017: https://www.kaufland.de/api/v1/?page=claims

Meanwhile on this page you can find multiple mentions of when a 'Claim' is created automatically after for example rejecting a return: https://www.kaufland.de/api/v1/?page=returns

Also, I noticed some of our orders do have a claim object available. So is it deprecated and unavailable or not?

[2021-09-14 11:27] rndlapps opened #121 "What is User Agent for api sandbox key?"
Hello, can someone please share the user agent name for the api sandbox keys?

Thanks,
Tamas

[2021-09-15 09:17] NastiaNovik commented on #121
Hi @radarlog, you should use the name of marketplace interface if you use one, or if you have your own solution then you can just insert something like "hitsdk"

[2021-10-20 10:39] DamianoMazzara opened #122 "Prestashop module, sdk not working (Cursor class)"
Hi, i'm using real prestashop module, it uses hitmeister sdk for php.
We've moved the module from one to another prestashop server (same prestashop, same website) but this sdk gives error in his Cursor.php class.

![test](https://i.gyazo.com/132b82788b82c760731832c44c8336a1.png)

We have 2 identical servers, but this works only in the older one, maybe the problem is a php library that is missing?

[2021-10-20 10:55] DamianoMazzara commented on #118
I've the same problem. Did you solve it?

[2021-10-20 11:30] Ivorius commented on #118
No, it is problem with sandbox keys. Using own keys is ok.

[2021-10-20 12:56] DamianoMazzara commented on #118
I can't believe the error was the following:

The entire sdk looks for headers in case-sensitive way.

For example, the issue you have shared here, is caused by the following code:

`
if (!isset($data['headers']['Hm-Collection-Range'][0])) {
	throw new ServerException('Response header "Hm-Collection-Range" is missing.');
}
`

But sometimes the headers are retrieved by web servers in lower case, in

[2021-10-20 12:57] DamianoMazzara commented on #122
The sdk is not compatible with HTTP/2, so headers are not parsed correctly (lower cases).

Full explanation in [this](https://github.com/hitmeister/api-sdk-php/issues/118) previous issue of the same repository.

[2021-10-20 12:57] #122 closed, assigned to nobody

[2021-10-20 14:13] hassamchohan commented on #118
@Ivorius were you able to solve the problem as mentioned by Damiano ?

[2021-10-20 14:45] DamianoMazzara commented on #118
In [this](https://github.com/hitmeister/api-sdk-php/issues/49) issue one of the developers says he released a working version that forces HTTP 1.1
So I've tried to install an updated version of the develop branch but it gave me some other errors.
So I kept my old version and changed `['headers']['Hm-Collection-Range'] and ['headers']['Location']` with lowecase versions.
In this way I get the advan

[2021-10-25 13:54] mylemans commented on #118
Same issue here.

[2021-10-25 16:57] cottton opened #123 "Broken import-files status|stats --& missing documentation"
On `POST import-files` we got weird responses.

There are 2 different csv imports: product data and inventory data.
_Product data csv `type: PRODUCT_FEED`, and inventory data `type: 'DUMP | COMMAND`_

On both we get the same response format.
Most important, somewhere mentioned in the documentation, is the flag `product_feed_async_done`
The flag should be (int)1 if the import has been successfully

[2021-11-10 11:57] polluks2 commented on #121
Maybe "hitbot/1.0", see https://en.wikipedia.org/wiki/User_agent#Format_for_automated_agents_(bots).

[2022-03-25 16:36] cottton opened #124 "[tickets::find] Field id_buyer has invalid value "0""
Calling method `$client->tickets()->find()`
without any params throws
[code]

**Reason**: the cast to int forces us to send a zero instead of null.
**See** https://github.com/hitmeister/api-sdk-php/blob/1.50.0/src/Namespaces/TicketsNamespace.php#L51

Tested via https://www.kaufland.de/api/v1/?page=endpoints#!/tickets/getSellerTickets
with no id (field empty): works
with "0" id: `"message": "Field

[2022-04-29 16:08] cottton opened #125 "Backend ids like "0012345" are getting forced to int before calls."
Just happen to me through ticket closing call.

Received ticket with id "00112556780"
But URI gets built with "112556780"

    $client = ...
    $endpoint = new \Hitmeister\Component\Api\Endpoints\Tickets\Get($client->getTransport());
    $endpoint->setId($ticketId);

    echo var_export($endpoint->getURI(), true) . PHP_EOL; die;
    // tickets/112556780/

Problem:

	public function getURI()
	{

[2022-06-03 13:56] ChrisSantiago82 opened #127 "Responding to a Ticket always returns a 404"
it's possible that it's almost the same issue like #125 only difference it's for the post request.

I'm always getting resource not found. My tickets ids always start with 0011.

If I inspect the request, it turns the ticked it into an integer (zeros are being removed).

[2022-06-03 14:00] ChrisSantiago82 commented on #127
Removing the int() would solve this issue:
![image](https://user-images.githubusercontent.com/43000085/171869183-adce5953-4093-49ac-ad64-1cc49e7f9eb0.png)

[2022-09-28 07:29] Abhishek171997 opened #128 "error in configuration save"
file path:- hitmeister/api-sdk/src/Cursor.php
Checked in Magento2.4.5

![image](https://user-images.githubusercontent.com/54471158/192715524-4a0f2aa4-664e-4828-ab53-212fbb3f60f5.png)